/*dumb.css created by jobcmax*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --bg: #0D1117;
  --mid: #21262D;
  --fg: #ECF2f8;
  --primary: #77BDFB;
  --primaryrgba: 119, 189, 251;
  --radius: 4px;
  --sans: 'Inter var', sans-serif;
  --mono: 'Roboto Mono', monospace;
}

body {
  background-color: var(--bg);
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: var(--fg);
  font-family: var(--sans)
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  transition: 0.3s;
  color: var(--primary);
  font-family: var(--sans);
  text-decoration: none;
}

a:hover {
  /*  text-decoration: underline;*/ 
  background-color: rgba(var(--primaryrgba), 0.10);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding: 0px;
}

p {
/*  line-height: em;*/
}

::selection {
  background: rgba(var(--primaryrgba), 0.20);
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .center h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.6em;
  }
  .center {
    width: 80%;
    position: unset;
    left: unset;
    top: unset;
    transform: unset;
    -webkit-transform: unset;
    margin: 0 auto;
    margin-top: 2em;
    padding-top: 2em;
  }
}

@media only screen and (max-width: 1000px) {
  .content {
    width: 80%;
  }
}